/* ===== АДАПТИВНОСТЬ ===== */
@media(max-width: 1200px) {
  .header__container {
    flex-wrap: wrap;
    gap: 20px
  }

  .header__logo-section {
    order: 1;
  }

  .header__logo-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
  }

  .header__auth {
    order: 2;
    margin-left: auto;
  }

  .nav {
    order: 3;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
  }

  .nav__list {
    justify-content: center;
    flex-wrap: wrap;

  }

  .nav__text {
    font-size: 1.3rem;
    line-height: 1rem;
  }

  .mobile-menu-btn {
    order: 4;
    display: none;
  }

  .header__btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .hero__stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {

  .header__logo-section {
    order: 1;
  }


  .nav {
    display: none;
  }

  .header__auth {
    order: 2;
    width: 100%;
  }

  .header__menu-btn {
    order: 1;
  }

  .main__nav {
    display: none;
    width: 100%;
    order: 3;
    margin-top: 20px;
    flex-direction: column;
  }

  .auth__section {
    margin-left: auto;
  }

  .mobile-menu-btn {
    display: block;
    font-size: 2.5rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__stats {
    grid-template-columns: 1fr;
  }

  .hero__buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn__large {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 576px) {

  /* glob */
  .section-title {
    gap: 15px;
    margin-bottom: 40px;
    font-size: 1.4rem;
  }

  .container {
    padding: 0 15px;
  }

  .section {
    margin-bottom: 40px;
  }

  /* header */

  .header__container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .header__logo-section {
    order: 1;
  }

  .header__logo-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1;
  }

  .header__auth {
    order: 2;
    width: auto;
    margin-left: 0;
    width: 100%;
  }

  .header__btn {
    padding: 10px 20px;
    font-size: 0.8rem;

  }

  .header__menu-btn {
    order: 1;
  }

  .mobile-menu-btn {
    display: block;
    font-size: 2rem;
  }

  /* main */

  .main-content {
    padding: 40px 0;
  }

  /* hero */

  .hero {
    padding: 40px 0;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__stats-card {
    padding: 15px;
  }

  .hero__stats-number {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  /* categories */

  .categories__grid {
    grid-template-columns: 1fr;
  }

  .category__icon {
    width: 40px;
    height: 40px;
  }

  .category__title {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .category__descr {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }

  .features__grid {
    grid-template-columns: 1fr;
  }

  .topic {
    flex-direction: column;
    align-items: flex-start;
  }

  .topic__title {
    margin-bottom: 15px;
  }

  .topics__item {
    padding: 15px;
  }

  .topic__meta {
    display: flex;
    text-align: center;
    gap: 15px;
    color: #888;
    font-size: 0.8rem;
  }

  .topic__meta-icon {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .topic__stats {
    width: 100%;
    justify-content: space-between;
  }

  /* features */
  .feature__card {
    padding: 20px;
  }

  .feature__icon {
    width: 50px;
    height: 50px;
    font-size: 1.6rem;
  }

  .feature__card-title {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .feature__card-descr {
    font-size: 0.85rem;
  }

  /* footer */
  .footer__content {
    gap: 20px;
    margin-bottom: 20px;
  }

  .footer__title {
    margin-bottom: 10px;
  }
}

/* ===== АНИМАЦИЯ ЧИСЕЛ ===== */
@keyframes countUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
